*{
    font-family: Arial, Helvetica, sans-serif;
}

.main-title{
    font-weight: bold;
    color:white;
    background-color: rgb(208, 97, 99);
    text-align: center;
    width:400px;
    margin:10px auto;
    padding:20px;
}
.title{
    color:brown;
    background-color: white;
}

.list{
    background-color: pink;
}

.image{
    height:auto;
    width:300px;
}